body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 50px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #ff9800;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.form-box, .success-box {
    width: 350px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

input, select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}
